.btn {
  border: none;
  display: block;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  border-radius: 6px;
  padding: 12px 28px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  align-self: center;
  background-color: #75bf7a;
}

.btn-primary:hover {
  background-color: #8eca93;
}

.btn-secondary {
  border-radius: 5px;
  padding: 12px 32px 14px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  background-color: #000;
}

.btn-secondary:hover {
  background-color: #4c4c4c;
}

.btn-download {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.btn-sm {
  padding: 15px 22px;
  font-size: 17px;
}
