@font-face {
  font-family: 'gilroy-regular';
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
  font-display: swap;
}

body {
  font-family: 'gilroy-regular', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #9e9da2;
  background-color: #f9f9f9;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1000px) {
  body {
    padding: 0;
  }

  main {
    padding-left: 80px;
    padding-right: 80px;
  }
}
