@font-face {
  font-family: 'gilroy-regular';
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
}

body {
  font-family: 'gilroy-regular', sans-serif;
  font-weight: 500;
  color: #9e9da2;
}

main {
  background-color: #f9f9f9;
}
