@font-face {
  font-family: 'gilroy-regular';
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
}

body {
  font-family: 'gilroy-regular', sans-serif;
  font-weight: 500;
  color: #9E9DA2;
}

main {
  background-color: #F9F9F9;
}
