.card {
  background-color: #fff;
  border-radius: 3px;
}

.card-heading {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #000;
}

.card-order {
  font-size: 64px;
  font-weight: 500;
  color: #75bf7a;
}

.card-desc {
  font-size: 16px;
  font-weight: 500;
}

.card-img-container {
  width: 248px;
  height: 227px;
}
