.step {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
}

.step::before {
  counter-increment: step;
  content: counter(step);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  color: #75bf7a;
  background-image: url(../../assets/images/how-it-works/step-order-bg.svg);
  background-size: cover;
}

.step-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
}

.step-desc {
  font-size: 22px;
  line-height: 24px;
}

@media screen and (min-width: 1280px) {
  .step {
    text-align: left;
    align-items: start;
    padding-left: 40%;

  }

  .step:nth-of-type(odd) {
    text-align: right;
    align-items: end;
    padding-left: 0;
    padding-right: 40%;
  }

  .step-order {
    width: 63px;
    height: 63px;
    font-size: 34px;
  }

  .step-desc {
    font-size: 20px;
    line-height: 26px;
    max-width: 23ch;
  }
}
